<div class="container">
  <div class="row">
    <div class="col-lg-7">
      <h3>Review for: {{ reservationView.accommodatioName }}</h3>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-7">
        <textarea rows="3" cols="50" class="form-control" placeholder="Leave your comment here..." [(ngModel)]="userImpressionCreation.comment"></textarea>

        <div class="rating">
            <input type="radio" id="star5" name="rating" value="5" (click)="updateStarNumber(5)"/><label for="star5" title="Meh">5 stars</label>
            <input type="radio" id="star4" name="rating" value="4" (click)="updateStarNumber(4)"/><label for="star4" title="Kinda bad">4 stars</label>
            <input type="radio" id="star3" name="rating" value="3" (click)="updateStarNumber(3)"/><label for="star3" title="Kinda bad">3 stars</label>
            <input type="radio" id="star2" name="rating" value="2" (click)="updateStarNumber(2)"/><label for="star2" title="Sucks big tim">2 stars</label>
            <input type="radio" id="star1" name="rating" value="1" (click)="updateStarNumber(1)"/><label for="star1" title="Sucks big time">1 star</label>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-7">
      <hr>
      <button class="btn btn-primary" (click)="createReview()">Leave a review</button>
    </div>
  </div>
</div>
