<div class="conta">
  <div class="row">
    <div class="col-xs-10">
        <h2>Accommodation name</h2>
        <ul class="list-inline">
            <li><a href="#">2 Days Ago</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-star"></i>4.3</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-user"></i>Agent username</a></li>
          </ul>
    </div>
    <div class="col-xs-2">
      <br>
      <button class="btn btn-primary pull-right">Reservation</button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas molestias assumenda ex deserunt repellendus totam qui quo necessitatibus similique doloremque? Ipsa, eligendi blanditiis quod enim illum fugiat quia omnis dignissimos modi dolor quam, quae rerum eveniet laboriosam neque doloremque accusantium doloribus ducimus in repellendus culpa. Iure quibusdam voluptate molestiae ipsa!</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <p>Type: <b>Some random type</b></p>
      <p>Category: <b>Some random category</b></p>
      <p>Location: <b>Some random location</b></p>
      <p>Capacity: <b>8</b></p>
    </div>

    <div class="col-xs-6">
      <h4>Additional services</h4>
      <ul class="list-group">
        <li class="list-group-item">Additional service 1</li>
        <li class="list-group-item">Additional service 2</li>
        <li class="list-group-item">Additional service 3</li>
      </ul>
    </div>
  </div>
  <hr>
  <br>
  <div class="row">
    <div class="col-xs-12">
        <img src="//placehold.it/200" style="width:200px;height:200px" class="img-rounded">
        <img src="//placehold.it/200" style="width:200px;height:200px" class="img-rounded">
        <img src="//placehold.it/200" style="width:200px;height:200px" class="img-rounded">
    </div>
  </div>
  <hr>
  <br>
  <div class="row">
    <div class="col-xs-12">
        <h4>Price plan</h4>
        <p>Current: 150$</p>
        <p class="lead"><button class="btn btn-default">See full price plan</button></p>
    </div>
  </div>

</div>
