<div class="container">
  <div class="row">
    <div class="col-xs-10">
        <h2>{{accommodation.name}}</h2>
        <ul class="list-inline">
            <li><a href="#"><i class="glyphicon glyphicon-user"></i>{{accommodation.agentUsername}}</a></li>
          </ul>
    </div>
    <div class="col-xs-2">
      <br>
      <button class="btn btn-primary pull-right">Reservation</button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <p class="lead">{{accommodation.description}}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <p>Type: <b>{{accommodation.typeName}}</b></p>
      <p>Category: <b>{{accommodation.categoryName}}</b></p>
      <p>Location: <b>{{accommodation.location}}</b></p>
      <p>Capacity: <b>{{accommodation.capacity}}</b></p>
    </div>

    <div class="col-xs-6">
      <h4>Additional services</h4>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let additionalService of accommodation.additionalServices">{{additionalService.serviceName}}</li>
      </ul>
    </div>
  </div>
  <hr>
  <br>
  <div class="row">
    <div class="col-xs-12">
        <img *ngFor="let image of accommodation.images" [src]="image.path" style="width:200px;height:200px" class="img-rounded"><br><br>
    </div>
  </div>
  <hr>
  <br>
  <div class="row">
    <div class="col-xs-6">
        <h4>Price plan</h4>
        <p>Current: {{currentPrice}}$</p>
        <p class="lead"><button class="btn btn-default" (click)="pricePlanHidden=!pricePlanHidden">See full price plan</button></p>

        <div *ngFor="let pricePlan of accommodation.pricePlan" [hidden]="pricePlanHidden">
          <p>From: {{pricePlan.startingDate}} to: {{pricePlan.endingDate}} Price: <b>{{pricePlan.price}}</b></p>
        </div>
    </div>

    <div class="col-xs-6">
      <h4>Accommodation is not available on the following dates</h4>

      <div *ngFor="let restriction of accommodation.restrictions">
        <p>From: {{restriction.restrictionFrom}} to {{restriction.restrictionTo}}</p>
      </div>
    </div>
  </div>

</div>
