<a class="list-group-item clearfix" *ngFor="let reservation of reservationsList">
  <div class="pull-left">
    <h4 class="list-group-item-heading">Reservation for <b>{{reservation.accommodatioName}}</b></h4>
    <p class="list-group-item-text">Reservation from: {{reservation.startingDate}}</p>
    <p class="list-group-item-text">Reservation to: {{reservation.endingDate}}</p>
  </div>
  <div class="pull-right">
    <button class="btn btn-default" (click)="messagesClicked(reservation)"><i class="glyphicon glyphicon-envelope"></i> Messages</button>
    <button *ngIf="reservation.confirmed" class="btn btn-success" (click)="reviewClicked(reservation)"><i class="glyphicon glyphicon-thumbs-up"></i> Review</button>
    <button class="btn btn-danger" (click)="cancelReservation(reservation)"><i class="glyphicon glyphicon-remove"></i> Cancel</button>
  </div>
</a>
