<div class="alert alert-danger alert-dismissible" *ngIf="error">
  <button type="button" class="close" (click)="error = undefined" data-dismiss="alert">&times;</button>
  {{error}}
</div>

<div class="alert alert-success alert-dismissible" *ngIf="message">
  <button type="button" class="close" (click)="message = undefined" data-dismiss="alert">&times;</button>
  {{message}}
</div>

<div class="row text-center">
  <form class="form-inline" #f="ngForm" (submit)="submit()">
    <div class="form-group">
      <label>New password:</label>
      <input type="password" required  ngModel name="password" class="form-control" #password="ngModel">
    </div>
    <app-password-strength
      [passwordToCheck]="password.value"
      [barLabel]="barLabel"
      [barColors]="myColors"
      [strengthLabels]="strengthLabels"
      (strength)="onPasswordChange($event)" >
    </app-password-strength>
    <button class="btn btn-success" [disabled]="!f.valid || !passwordStrong" type="submit">Change password!</button>
  </form>
</div>
