<div class="container">
  <div class="row">
      <div class="col-lg-6">
          <div class="input-group">
            <input type="text" id="address" name="address" class="form-control" placeholder="Input desired adress..." [(ngModel)]="location">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" (click)="searchSimple()">Go!</button>
            </span>
          </div>
        </div>
  </div>

  <div class="row">
    <div class="col-lg-3">
      <div class="input-group">
        <label for="capacity">Capacity</label>
        <input type="text" name="capacity" id="capacity"  class="form-control" placeholder="Input desired number of peaople..." [(ngModel)]="capacity">
      </div>
    </div>

    <div class="col-lg-3">
          <div class="input-group">
            <label for="dateFrom">Starting date</label>
            <input name="dateFrom" id="dateFrom" type="date" class="form-control">
          </div>
    </div>

    <div class="col-lg-3">
        <div class="input-group">
          <label for="dateTo">Ending date</label>
          <input name="dateTo" id="dateTo" type="date" class="form-control">
        </div>
    </div>

    <div class="col-lg-3">
      <br>
      <button class="btn btn-default">More search options<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></button>
    </div>
  </div>
</div>
<br>
<hr>
<div class="row">
  <div class="checkbox" *ngFor="let additionalService of additonalServices">
    <label><input type="checkbox" value="">{{additionalService.serviceName}}</label>
  </div>
</div>

<app-search-list [accommodationList]="accommodationList"></app-search-list>
