<div class="container">
  <div class="row">
      <div class="col-lg-6">
          <div class="input-group">
            <input type="text" id="address" name="address" class="form-control" placeholder="Input desired adress..." [(ngModel)]="location">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" (click)="searchButtonClicked()">Go!</button>
            </span>
          </div>
        </div>
  </div>

  <div class="row">
    <div class="col-lg-3">
      <div class="input-group">
        <label for="capacity">Capacity</label>
        <input type="text" name="capacity" id="capacity"  class="form-control" placeholder="Input desired number of peaople..." [(ngModel)]="capacity">
      </div>
    </div>

    <div class="col-lg-3">
          <div class="input-group">
            <label for="dateFrom">Starting date</label>
            <input name="dateFrom" id="dateFrom" type="date" class="form-control" [(ngModel)]="dateFrom">
          </div>
    </div>

    <div class="col-lg-3">
        <div class="input-group">
          <label for="dateTo">Ending date</label>
          <input name="dateTo" id="dateTo" type="date" class="form-control" [(ngModel)]="dateTo">
        </div>
    </div>

    <div class="col-lg-3">
      <br>
      <button class="btn btn-default" (click)="additionalSearchOptionsHidden=!additionalSearchOptionsHidden">More search options<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></button>
    </div>
  </div>
</div>
<br>
<hr>
<div [hidden]="additionalSearchOptionsHidden">
  <div class="row">
    <div class="col-lg-4">
      <h3>Additional services</h3>
      <div class="checkbox" *ngFor="let additionalService of additonalServices">
        <label><input type="checkbox" (click)="appendAdditionalServiceForSearch(additionalService)">{{additionalService.serviceName}}</label>
      </div>
    </div>

    <div class="col-lg-4">
      <h3>Accommodation categories</h3>
      <div class="controls" *ngFor="let category of categories">
          <label><input type="radio" name="radioValueCategory{{category.id}}" [value]="category" [(ngModel)]="searchCategoryName">{{category.name}}</label>
      </div>
    </div>

    <div class="col-xs-4">
      <h3>Accommodation type</h3>
      <div class="controls radio-group" *ngFor="let type of accommodationTypes">
        <label><input type="radio" name="radioValueType{{type.id}}" [value]="type" [(ngModel)]="searchAccommodationType">{{type.name}}</label>
    </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <p>Sort by category</p>
      <select name="sortCategory" id="sortCategory" class="form-control">
        <option value="asc" (click)="sortCategory('asc', 0)">Ascending</option>
        <option value="desc" (click)="sortCategory('desc', 0)">Descending</option>
      </select>
      <p>Sort by rating</p>
      <select name="sortRating" id="sortRating" class="form-control">
          <option value="asc" (click)="sortByRating('asc', 0)">Ascending</option>
          <option value="desc" (click)="sortByRating('desc', 0)">Descending</option>
      </select>
      <p>Sort by price</p>
      <select name="sortRating" id="sortRating" class="form-control">
          <option value="asc" (click)="sortByPrice('asc', 0)">Ascending</option>
          <option value="desc" (click)="sortByPrice('desc', 0)">Descending</option>
      </select>
    </div>
  </div>
</div>

<hr>
<app-search-list
  [accommodationList]="accommodationList"
  [numberOfPages]="numberOfPages"
  [numberOfElements]="totalNumberOfElements"
  >
</app-search-list>

<ul class="pager" *ngIf="accommodationList.length>0">
  <li class="previous"><a (click)="previousPage()">Previous</a></li>
  <li>{{currentPage + 1}}</li>
  <li class="next"><a (click)="nextPage()">Next</a></li>
</ul>
