<div class="container">
  <div class="row">
      <div class="col-lg-6">
          <div class="input-group">
            <input type="text" id="address" name="address" class="form-control" placeholder="Input desired adress...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Go!</button>
            </span>
          </div>
        </div>
  </div>

  <div class="row">
    <div class="col-lg-3">
      <div class="input-group">
        <label for="capacity">Capacity</label>
        <input type="text" name="capacity" id="capacity"  class="form-control" placeholder="Input desired number of peaople...">
      </div>
    </div>

  <div class="col-lg-3">
        <div class="input-group">
          <label for="dateFrom">Starting date</label>
          <input name="dateFrom" id="dateFrom" type="date" class="form-control">
        </div>
  </div>

    <div class="col-lg-3">
        <div class="input-group">
          <label for="dateTo">Ending date</label>
          <input name="dateTo" id="dateTo" type="date" class="form-control">
        </div>
    </div>
  </div>
</div>
<br>
<hr>

<app-search-list></app-search-list>
